<div>
    <h1>Blog Posts</h1>
    <ul class="list-disc list-inside">
        <% @blog_posts.each do |post| %>
        <%= image_tag post.cover_image if post.cover_image.present? %>
        <li><%= link_to post.title, post %></li>
        <% if post.draft? %>
        <div class="p-2 rounded bg-gray-100 text-gray-900">Draft</div>
        <% elsif post.scheduled? %>
        <div class="p-2 rounded bg-blue-100 text-gray-900">Scheduled</div>
        <% end %>
        <li><%= post.content %></li>
        <% end %>

    </ul>
</div>

<% if @pagy.count > @pagy.limit %>
<div class="flex justify-center mt-4 mb-4">
    <%== pagy_nav(@pagy) %>
</div>
<% end %>